@import 'https://mesacc.evaluationkit.com/CanvasScripts/mesacc.css?v=2';
/* color contrast improvements for Menu badge icons */
.menu-item__badge {
	font-size: 0.8875rem;
	/*background: #f8971d;*/
	/* Theme Editor capability to supply text color to badge icon text 
	   that will only work after the 6/4 production release. For the 5/18 cutover date the following line 
	   that uses this CSS override for the text color can be commented out: */
	color: #002b5c;
	font-weight: bold;
}

.ic-Login-confirmation__logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('https://s3.amazonaws.com/SSL_Assets/Maricopa+Community+College+District/canvas_maricopa_logo.png') no-repeat;
  padding-left: 223px;
}

.ic-Login-confirmation__header {
	background-color: #002b5c;
}

/* Fix issue where log out confirm button text and background go to white */
.Button--logout-confirm, .Button--logout-confirm:hover  {
	background: transparent;
	border: none;
}

.Button--logout-link, .Button--logout-confirm {
	border: 1px solid white;
}

a.Button--logout-link:link, a:visited {
    border: 1px solid white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.Button--logout-confirm:hover, a.Button--logout-link:hover  {
	text-decoration: underline;
	border: 1px solid white;
}
/* End fix */